---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 27 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello, I'm Alex Hui. I'm currently a Freshman at <a href="https://www.osu.edu/" target="_blank">the Ohio State University</a>
		and I'm majoring in Computer Science and Engineering. 
	</p>
	<h4>
		Hobbies
	</h4>
	<ul>
		<li>Video Games - <a href="https://tracker.gg/valorant/profile/riot/Alui%23ROTMG/overview" target="_blank">Valorant</a>, Overwatch, Counter-Strike, etc.</li>	
		<li>Watching Movies</li>
		<li>Board Games</li>	
	</ul>
	<h4>
		Technologies that I'm familar with
	</h4>
	<ul>
		<li>HTML/CSS</li>
		<li>JavaScript</li>
		<li>Python</li>
		<li>Java</li>
	</ul>
	<h4>
		Education
	</h4>
	<p>
		<strong>The Ohio State University</strong><br>
		Bachelor of Computer Science (Expected Graduation: 2028)<br>           
		August 2024 – Present
	</p>


</Layout>
